.all-movies-list {
    display: flex;
    flex-direction: column; /* change the flex direction to column */
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    background: #282c34;
    color: white;
}

.title {
    font-size: 3rem;
    font-weight: bold;
    font-family: Georgia;
    margin-bottom: 1rem;
    text-align: center; /* center the title */
    color: white;
    /*outline-color: #cd5b5d;*/
    /*outline-width: 5px;*/
    /*outline-style: inset;*/
    text-decoration-line: blink;
}

.movie-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* center the images horizontally */
    align-content: center; /* center the images vertically */
    gap: 20px;
    width: 100%; /* make the images take up the full width */

}

.movie-images img {
    max-width: 100%;
    height: auto;
}
.movie-image:hover {
    transform: scale(1.1);
    border: 3px solid #cd5b5d;
}
.movie-header {
    font-size: 16px; /* starting font size */
    max-width: 200px; /* desired width */
    line-height: 1.2; /* adjust as needed */
    white-space: nowrap; /* don't allow line breaks */
    overflow: hidden; /* hide overflowing text */
    text-overflow: ellipsis; /* add ellipsis to indicate truncated text */
}



.movie-image:hover::after {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border: 3px solid #cd5b5d;
    z-index: -1;
    pointer-events: none;
    transition: border-color 0.2s ease-out;
}