section {
    background: #353b45;
    padding: 20px;
    flex-direction: row;
    align-items: center;
}

h1 {
    border-bottom: 1px solid white;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    padding: 10px;
    text-align: center;
}

form {
    border-radius: 8px;
    border: 3px solid #dedede;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 500px;
    padding: 30px 50px;
}

input {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
}

label {
    color: white;
    display: block;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
    font-weight: bold;
}

.error {
    color: red;
    font-family: sans-serif;
    font-size: 12px;
    height: 30px;
}

button {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #fff;
    background-color: #323541;
    cursor: pointer;
    transition: 0.2s;
    flex-direction: row;
    justify-content: center;
    display: flex;
}


button:hover {
    background-color: #cd5b5d;
    transform: perspective(100px);
}

button + button {
    margin-left: 10px;
}
