section {
    display: flex;
    flex-direction: column; /* change the flex direction to column */
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    background: #282c34;
    color: white;
    padding-bottom: 20px;
    justify-content: space-between;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    font-family: "Helvetica Neue", Georgia, sans-serif;
    margin-bottom: 1rem;
    text-align: center; /* center the title */
    color: white;
    /*outline-color: #cd5b5d;*/
    /*outline-width: 5px;*/
    /*outline-style: inset;*/
    text-decoration-line: blink;
    padding: 10px;
}

form {
    border-radius: 8px;
    border: 3px solid #dedede;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px;
    max-width: 500px;
    padding: 30px 50px;
    color: white;
}

input {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
}

label {
    color: white;
    display: block;
    font-family: "Helvetica Neue", Georgia, sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    font-weight: bold;
}

.error {
    color: red;
    font-family: sans-serif;
    font-size: 12px;
    height: 30px;
}

.submit-movie {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #fff;
    background-color: #323541;
    cursor: pointer;
    transition: 0.2s;
    flex-direction: row;
    justify-content: center;
    display: flex;
    width: 125px;
    height: 45px;
    padding: 10px;
}

button:hover {
    background-color: #cd5b5d;
    transform: perspective(100px);
}

.submit-movie {
    display: flex;
    justify-content: center;
    margin-left: 100px;
}
